body{
    font-family: "Roboto", sans-serif;
}
h1,h2,h3{
    font-family: "Bebas Neue", sans-serif;
}
.page-size{
    padding: 40px 90px;
}
.nav ul li{
    text-align: center;
    padding: 8px 15px;
    border-radius: 10px;
}
.nav ul li:hover{
    background-color: #85A019;
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    transition: 1s;
}
button:hover{
    color: black;
    background-color: #FABE4C;
    transition: 1s;
}
.forimg:hover{
    background-color: rgba(6, 6, 6, 0.825);
    transition: 1s;
}
@media screen and (max-width: 840px)  {
    .page-size{
        padding: 20px 20px;
    }
}
@media screen and (max-width: 940px) {
    .card-footer button{
        padding: 4px 4px;
        border-radius: 5px;
        font-size: 12px;
    }
}
@media screen and (max-width: 1082px) {
    #product-name{
        font-size: 20px;
    }
}
@media screen and (max-width: 845px) {
    #card-p{
        padding: 4px;
    }

}

